body {
    padding: 0;
    margin: 0;
    background-image: url('../img/background.jpg');
}

.img-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-header .img-fondo {
    width: 100%;
    height: 360;

}

.img-header .img-logo {
    padding: 30px;
    width: 450px;
}

.busqueda {
    padding: 25px;
}

.input-busca, .select{
    opacity: .79;
}

.input-buscar:focus, .input-buscar:hover, .select:hover, .select:focus{
    opacity: 1;
}

/* Float four columns side by side */
.column-wrapper {
    float: left;
    width: 25%;
    padding: 15px 22px;
    margin-top: 10px;
}

/* Remove extra left and right margins, due to padding */
.row-wrapper {
    margin: 20px 50 -10px 5;
}

/* Clear floats after the columns */
.row-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card-personaje {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 103px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #fefefefe;
    opacity: .83;
}

.card-personaje:hover{
    opacity: 1;
}

.tpersonaje {
    color: #fefefefe;
}

.card-personaje .card-img img {
    width: 77px;
    height: 77px;
    top: -40%;
    border-radius: 30px;
    position: relative;
    border: 1px solid #fefefefe;
}



.btn-modal button {
    position: relative;
    top: -55%;
    width: 105px;
    height: 30px;
}

/*Modal */

.modal-background{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    background-image: url(../img/background2.jpg) ;
}
.modal-body{
    position: relative;
    top: 15px;
}

.img-character{
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    z-index: 1;
}
.img-character img {
    border-radius: 50%;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 320px) {
    .column-wrapper {
        float: left;
        width: 100%;
        padding: 22px 66px;
        display: flex;
        justify-content: center;
    }
    .img-header .img-logo {
        width:450px;
    }
    .busqueda {
        padding: 15px;
    }
}
/* Tablets ----------- */
@media only screen
and (min-width : 640px) {
    .column-wrapper {
        float: left;
        width: 50%;
        padding: 15px 22px;
        margin-top: 10px;
    }

}
@media only screen
and (min-width : 960px) {
    .column-wrapper {
        float: left;
        width: 33%;
        padding: 15px 22px;
        margin-top: 10px;
    }
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .column-wrapper {
        float: left;
        width: 25%;
        padding: 15px 22px;
        margin-top: 10px;
    }

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .column-wrapper {
        float: left;
        width: 25%;
        padding: 15px 22px;
        margin-top: 10px;
    }
}